<!DOCTYPE html>
<html ng-app="productApp">
<head>

      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>


      {% load staticfiles %}
      <script src="{% static "script.js" %}"></script>


</head>
<body ng-controller="mainController">

     <div class="col-s-16">
        {% verbatim %}
            123  {{ message }}
        {% endverbatim %}

{#             <input type="text" ng-model="sometext" />#}
{##}
{#            <h1>Hello {{ sometext }}</h1>#}
{#        #}
     </div>


</body>
</html>