
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Product app</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="#login"><i class="fa fa-key"></i> Login</a></li>
                    {% else %}
                        <li><a href="#logout"><i class="fa fa-key"></i> Login</a></li>
                        <li><a href="#products"><i class="fa fa-shield"></i> Add product</a></li>
                        <li><a href="#"><i class="fa fa-comment"></i> Contact</a></li>
                    {% endif %}

                </ul>
            </div>
            </nav>
        </header>
